{{#freestyle-section name="Helper Classes" as |section|}}
  {{#section.subsection name="Layout"}}
    {{#freestyle-collection defaultKey="all" as |collection|}}
      {{#collection.variant key="pull-left"}}
        {{#freestyle-note "pull-left--notes"}}
          Use `.pull-left` to add a left float to an element
        {{/freestyle-note}}

        {{#freestyle-usage "pull-left" title="Float Left"}}
          <div class="pull-left">Hello</div>
          <div>World</div>
        {{/freestyle-usage}}
      {{/collection.variant}}

      {{#collection.variant key="pull-right"}}
        {{#freestyle-note "pull-right--notes"}}
          Use `.pull-right` to add a right float to an element
        {{/freestyle-note}}

        {{#freestyle-usage "pull-right" title="Float Right"}}
          <div class="pull-right">Hello</div>
          <div>World</div>
        {{/freestyle-usage}}
      {{/collection.variant}}

      {{#collection.variant key="inline"}}
        {{#freestyle-note "inline--notes"}}
          Use `.inline` to change an element's `display` property to `inline`
        {{/freestyle-note}}

        {{#freestyle-usage "inline" title="Inline"}}
          <div class="inline">Hello</div>
          <span>World</span>
        {{/freestyle-usage}}
      {{/collection.variant}}

      {{#collection.variant key="block"}}
        {{#freestyle-note "block--notes"}}
          Use `.block` to change an element's `display` property to `block`
        {{/freestyle-note}}

        {{#freestyle-usage "block" title="Block"}}
          <span class="block">Hello</span>
          <span>World</span>
        {{/freestyle-usage}}
      {{/collection.variant}}
    {{/freestyle-collection}}
  {{/section.subsection}}

  {{#section.subsection name="Visibility"}}
    {{#freestyle-note "visibility--notes"}}
      Helpers to hide/show elements.

      ```scss
      // visibility
      .invisible { visibility: hidden; }
      .visibile { visibility: visible; }

      // display
      .hide { display: none; }
      .show { display: initial; }
      ```
    {{/freestyle-note}}

    {{#freestyle-usage "visibility" usageTitle="Usage"}}
      <span class="invisible">Hey!</span>
      <span class="visible">Look</span>
      <span class="hide">at</span>
      <span class="show">me</span>
    {{/freestyle-usage}}

    {{#freestyle-note "visibility-important--notes"}}
      Helpers to hide/show elements.

      ```scss
      // display !important
      .hide-i { display: none !important; }
      .show-i { display: initial !important; }
      ```
    {{/freestyle-note}}

    {{#freestyle-usage "visibility-important" usageTitle="Usage"}}
      <span class="hide" style="display: inline;">Look at</span>
      <span class="show" style="display: none;">me</span>

      <div class="mt-10">
        <span class="hide-i" style="display: inline;">Check this</span>
        <span class="show-i" style="display: none;">out</span>
      </div>
    {{/freestyle-usage}}
  {{/section.subsection}}

  {{#section.subsection name="Text Alignment"}}
    {{#freestyle-collection defaultKey="all" as |collection|}}
      {{#collection.variant key="left"}}
        {{#freestyle-note "left--notes"}}
          Use `.text-left` to left align text
        {{/freestyle-note}}

        {{#freestyle-usage "left" title="Left"}}
          <div class="text-left">Hello World</div>
        {{/freestyle-usage}}
      {{/collection.variant}}

      {{#collection.variant key="center"}}
        {{#freestyle-note "center--notes"}}
          Use `.text-center` to center align text
        {{/freestyle-note}}

        {{#freestyle-usage "center" title="Center"}}
          <div class="center">Hello World</div>
        {{/freestyle-usage}}
      {{/collection.variant}}

      {{#collection.variant key="right"}}
        {{#freestyle-note "right--notes"}}
          Use `.text-right` to right align text
        {{/freestyle-note}}

        {{#freestyle-usage "right" title="Right"}}
          <div class="right">Hello World</div>
        {{/freestyle-usage}}
      {{/collection.variant}}
    {{/freestyle-collection}}
  {{/section.subsection}}

  {{#section.subsection name="Text Transform"}}
    {{#freestyle-collection defaultKey="all" as |collection|}}
      {{#collection.variant key="uppercase"}}
        {{#freestyle-note "uppercase--notes"}}
          Use `.uppercase` to transform text to uppercase
        {{/freestyle-note}}

        {{#freestyle-usage "uppercase" title="Uppercase"}}
          <div class="uppercase">Hello world</div>
        {{/freestyle-usage}}
      {{/collection.variant}}

      {{#collection.variant key="lowercase"}}
        {{#freestyle-note "lowercase--notes"}}
          Use `.lowercase` to transform text to lowercase
        {{/freestyle-note}}

        {{#freestyle-usage "lowercase" title="Lowercase"}}
          <div class="lowercase">Hello world</div>
        {{/freestyle-usage}}
      {{/collection.variant}}

      {{#collection.variant key="capitalize"}}
        {{#freestyle-note "capitalize--notes"}}
          Use `.capitalize` to transform text to capitalize
        {{/freestyle-note}}

        {{#freestyle-usage "capitalize" title="Capitalize"}}
          <div class="capitalize">Hello world</div>
        {{/freestyle-usage}}
      {{/collection.variant}}
    {{/freestyle-collection}}
  {{/section.subsection}}

  {{#section.subsection name="Text Style"}}
    {{#freestyle-collection defaultKey="all" as |collection|}}
      {{#collection.variant key="bold"}}
        {{#freestyle-note "bold--notes"}}
          Use `.bold` to change the text style to bold
        {{/freestyle-note}}

        {{#freestyle-usage "bold" title="Bold"}}
          <div class="bold">Hello world</div>
        {{/freestyle-usage}}
      {{/collection.variant}}

      {{#collection.variant key="italic"}}
        {{#freestyle-note "italic--notes"}}
          Use `.italic` to change the text style to italic
        {{/freestyle-note}}

        {{#freestyle-usage "italic" title="Italic"}}
          <div class="italic">Hello world</div>
        {{/freestyle-usage}}
      {{/collection.variant}}

      {{#collection.variant key="oblique"}}
        {{#freestyle-note "oblique--notes"}}
          Use `.oblique` to change the text style to oblique
        {{/freestyle-note}}

        {{#freestyle-usage "oblique" title="Oblique"}}
          <div class="oblique">Hello world</div>
        {{/freestyle-usage}}
      {{/collection.variant}}
    {{/freestyle-collection}}
  {{/section.subsection}}

  {{#section.subsection name="Lists"}}
    {{#freestyle-collection title="Inline Lists" defaultKey="all" as |collection|}}
      {{#collection.variant key="inline"}}
        {{#freestyle-usage "list-inline" title="Inline"}}
          <ul class="l-inline">
            <li>item 1</li>
            <li>item 2</li>
            <li>item 3</li>
          </ul>
        {{/freestyle-usage}}
      {{/collection.variant}}

      {{#collection.variant key="inline-block"}}
        {{#freestyle-usage "list-inline-block" title="Inline Block"}}
          <ul class="l-inline-block">
            <li>item 1</li>
            <li>item 2</li>
            <li>item 3</li>
          </ul>
        {{/freestyle-usage}}
      {{/collection.variant}}

      {{#collection.variant key="comma"}}
        {{#freestyle-usage "list-comma" title="Comma Separated"}}
          <ul class="l-comma">
            <li>item 1</li>
            <li>item 2</li>
            <li>item 3</li>
          </ul>
        {{/freestyle-usage}}
      {{/collection.variant}}
    {{/freestyle-collection}}

    {{#freestyle-collection title="Stacked Lists" defaultKey="all" as |collection|}}
      {{#collection.variant key="stacked"}}
        {{#freestyle-usage "list-stacked" title="Stacked"}}
          <ul class="l-stacked">
            <li>item 1</li>
            <li>item 2</li>
            <li>item 3</li>
          </ul>
        {{/freestyle-usage}}
      {{/collection.variant}}

      {{#collection.variant key="bullet"}}
        {{#freestyle-usage "list-bullet" title="Bullet"}}
          <ul class="l-bullet">
            <li>item 1</li>
            <li>item 2</li>
            <li>item 3</li>
          </ul>
        {{/freestyle-usage}}
      {{/collection.variant}}

      {{#collection.variant key="number"}}
        {{#freestyle-usage "list-number" title="Numbered"}}
          <ul class="l-number">
            <li>item 1</li>
            <li>item 2</li>
            <li>item 3</li>
          </ul>
        {{/freestyle-usage}}
      {{/collection.variant}}
    {{/freestyle-collection}}
  {{/section.subsection}}

  {{#section.subsection name="List Spacing"}}
    {{#freestyle-note "vertical-list-spacing--notes"}}
      Quickly add vetical spacing to the items in a list.

      Class names are prefixed with `l-mt-` and followed by a number between 0 and 50 (in increments of 5).

      ```scss
      .mt-0, .mt-5, .mt-10, ..., .mt-40, .mt-45, .mt-50
      ```
    {{/freestyle-note}}

    {{#freestyle-usage "vertical-list-spacing" title="Vertical"}}
      <ul class="l-stacked l-mt-10">
        <li>item 1</li>
        <li>item 2</li>
        <li>item 3</li>
      </ul>
    {{/freestyle-usage}}

    {{#freestyle-note "horizontal-list-spacing--notes"}}
      Quickly add horizontal spacing to the items in a list.

      Class names are prefixed with `l-ml-` and followed by a number between 0 and 50 (in increments of 5).

      ```scss
      .ml-0, .ml-5, .ml-10, ..., .ml-40, .ml-45, .ml-50
      ```
    {{/freestyle-note}}

    {{#freestyle-usage "horizontal-list-spacing" title="Horizontal"}}
      <ul class="l-inline l-ml-10">
        <li>item 1</li>
        <li>item 2</li>
        <li>item 3</li>
      </ul>
    {{/freestyle-usage}}
  {{/section.subsection}}

  {{#section.subsection name="Margin"}}
    {{#freestyle-collection defaultKey="all" as |collection|}}
      {{#collection.variant key="top"}}
        {{#freestyle-note "margin-top--notes"}}
          Quickly add a margin to the top of an element.

          Class names are prefixed with `mt-` and followed by a number between 0 and 50 (in increments of 5).

          ```scss
          .mt-0, .mt-5, .mt-10, ..., .mt-40, .mt-45, .mt-50
          ```
        {{/freestyle-note}}

        {{#freestyle-usage "margin-top" title="Margin Top" usageTitle="Usage"}}
          <ul class="l-stacked">
            <li>Look</li>
            <li class="mt-10">at</li>
            <li>me</li>
          </ul>
        {{/freestyle-usage}}
      {{/collection.variant}}

      {{#collection.variant key="right"}}
        {{#freestyle-note "margin-right--notes"}}
          Quickly add a margin to the right of an element.

          Class names are prefixed with `mr-` and followed by a number between 0 and 50 (in increments of 5).

          ```scss
          .mr-0, .mr-5, .mr-10, ..., .mr-40, .mr-45, .mr-50
          ```
        {{/freestyle-note}}

        {{#freestyle-usage "margin-right" title="Margin Right" usageTitle="Usage"}}
          <ul class="l-inline">
            <li>Look</li>
            <li class="mr-10">at</li>
            <li>me</li>
          </ul>
        {{/freestyle-usage}}
      {{/collection.variant}}

      {{#collection.variant key="bottom"}}
        {{#freestyle-note "margin-bottom--notes"}}
          Quickly add a margin to the bottom of an element.

          Class names are prefixed with `mb-` and followed by a number between 0 and 50 (in increments of 5).

          ```scss
          .mb-0, .mb-5, .mb-10, ..., .mb-40, .mb-45, .mb-50
          ```
        {{/freestyle-note}}

        {{#freestyle-usage "margin-bottom" title="Margin Bottom" usageTitle="Usage"}}
          <ul class="l-stacked">
            <li>Look</li>
            <li class="mb-10">at</li>
            <li>me</li>
          </ul>
        {{/freestyle-usage}}
      {{/collection.variant}}

      {{#collection.variant key="left"}}
        {{#freestyle-note "margin-left--notes"}}
          Quickly add a margin to the left of an element.

          Class names are prefixed with `ml-` and followed by a number between 0 and 50 (in increments of 5).

          ```scss
          .ml-0, .ml-5, .ml-10, ..., .ml-40, .ml-45, .ml-50
          ```
        {{/freestyle-note}}

        {{#freestyle-usage "margin-left" title="Margin Left" usageTitle="Usage"}}
          <ul class="l-inline">
            <li>Look</li>
            <li class="ml-10">at</li>
            <li>me</li>
          </ul>
        {{/freestyle-usage}}
      {{/collection.variant}}

      {{#collection.variant key="other"}}
        {{#freestyle-note "margin-horz--notes"}}
          Quickly add horizontal margin to an element.

          Class names are prefixed with `mh-` and followed by a number between 0 and 50 (in increments of 5).

          ```scss
          .mh-0, .mh-5, .mh-10, ..., .mh-40, .mh-45, .mh-50
          ```
        {{/freestyle-note}}

        {{#freestyle-usage "margin-horz" title="Horizontal" usageTitle="Usage"}}
          <ul class="l-inline">
            <li>Look</li>
            <li class="mh-10">at</li>
            <li>me</li>
          </ul>
        {{/freestyle-usage}}

        {{#freestyle-note "margin-vert--notes"}}
          Quickly add vertical margin to an element.

          Class names are prefixed with `mv-` and followed by a number between 0 and 50 (in increments of 5).

          ```scss
          .mv-0, .mv-5, .mv-10, ..., .mv-40, .mv-45, .mv-50
          ```
        {{/freestyle-note}}

        {{#freestyle-usage "margin-vert" title="Vertical" usageTitle="Usage"}}
          <ul class="l-stacked">
            <li>Look</li>
            <li class="mv-10">at</li>
            <li>me</li>
          </ul>
        {{/freestyle-usage}}

        {{#freestyle-note "margin-auto--notes"}}
          Quickly add auto margin to an element.

          ```scss
          .m-auto { margin: auto; }
          .mv-auto { margin: auto 0; }
          .mh-auto { margin: 0 auto; }
          ```
        {{/freestyle-note}}

        {{#freestyle-usage "margin-auto" title="Auto" usageTitle="Usage"}}
          <div class="mh-auto" style="width: 150px;">
            Look at me
          </div>
        {{/freestyle-usage}}
      {{/collection.variant}}
    {{/freestyle-collection}}
  {{/section.subsection}}

  {{#section.subsection name="Padding"}}
    {{#freestyle-collection defaultKey="all" as |collection|}}
      {{#collection.variant key="top"}}
        {{#freestyle-note "padding-top--notes"}}
          Quickly add a padding to the top of an element.

          Class names are prefixed with `pt-` and followed by a number between 0 and 50 (in increments of 5).

          ```scss
          .pt-0, .pt-5, .pt-10, ..., .pt-40, .pt-45, .pt-50
          ```
        {{/freestyle-note}}

        {{#freestyle-usage "padding-top" title="Padding Top" usageTitle="Usage"}}
          <ul class="l-stacked">
            <li>Look</li>
            <li class="pt-10">at</li>
            <li>me</li>
          </ul>
        {{/freestyle-usage}}
      {{/collection.variant}}

      {{#collection.variant key="right"}}
        {{#freestyle-note "padding-right--notes"}}
          Quickly add a padding to the right of an element.

          Class names are prefixed with `pr-` and followed by a number between 0 and 50 (in increments of 5).

          ```scss
          .pr-0, .pr-5, .pr-10, ..., .pr-40, .pr-45, .pr-50
          ```
        {{/freestyle-note}}

        {{#freestyle-usage "padding-right" title="Padding Right" usageTitle="Usage"}}
          <ul class="l-inline">
            <li>Look</li>
            <li class="pr-10">at</li>
            <li>me</li>
          </ul>
        {{/freestyle-usage}}
      {{/collection.variant}}

      {{#collection.variant key="bottom"}}
        {{#freestyle-note "padding-bottom--notes"}}
          Quickly add a padding to the bottom of an element.

          Class names are prefixed with `pb-` and followed by a number between 0 and 50 (in increments of 5).

          ```scss
          .pb-0, .pb-5, .pb-10, ..., .pb-40, .pb-45, .pb-50
          ```
        {{/freestyle-note}}

        {{#freestyle-usage "padding-bottom" title="Padding Bottom" usageTitle="Usage"}}
          <ul class="l-stacked">
            <li>Look</li>
            <li class="pb-10">at</li>
            <li>me</li>
          </ul>
        {{/freestyle-usage}}
      {{/collection.variant}}

      {{#collection.variant key="left"}}
        {{#freestyle-note "padding-left--notes"}}
          Quickly add a padding to the left of an element.

          Class names are prefixed with `pl-` and followed by a number between 0 and 50 (in increments of 5).

          ```scss
          .pl-0, .pl-5, .pl-10, ..., .pl-40, .pl-45, .pl-50
          ```
        {{/freestyle-note}}

        {{#freestyle-usage "padding-left" title="Padding Left" usageTitle="Usage"}}
          <ul class="l-inline">
            <li>Look</li>
            <li class="pl-10">at</li>
            <li>me</li>
          </ul>
        {{/freestyle-usage}}
      {{/collection.variant}}
    {{/freestyle-collection}}
  {{/section.subsection}}
{{/freestyle-section}}
