{{#section.subsection name="Block"}}
  {{#freestyle-note "naming-block--notes"}}
    #### Naming Convention
    `.class-name`

    #### Purpose
    Add styles to an element

    #### Example

    ```
    .ui-btn {
      display: inline-block;
      background-color: #3498db;
      padding: 10px 25px;
      border: 1px solid #2980b9;
      border-radius: 3px;
      user-select: none;

      font-size: 14px;
      text-align: center;
      text-transform: capitalize;
      cursor: pointer;
      color: #fff;
    }
    ```
  {{/freestyle-note}}

  {{#freestyle-usage "naming-block" title="Block" usageTitle="usage"}}
    <button class="ui-btn">Button</button>
  {{/freestyle-usage}}
{{/section.subsection}}
